<div class="project-lists">
  <div class="gs-btn-right">
    <button (click)="showAddProjectForm= !showAddProjectForm">
      Add New Project
    </button>
  </div>

  <div style="overflow-x: scroll">
    <table class="gs-table">
      <tr>
        <th>Id</th>
        <th>Project Name</th>
        <th>Owner</th>
        <th>Status</th>
        <th>Total No. Of Tasks</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>View / Delete</th>
      </tr>
      <tr *ngFor="let project of projects; index as i">
        <td>{{project.id}}</td>
        <td routerLink="../project/{{project.id}}">{{project.project_name}}</td>
        <td> {{project.owner}}</td>
        <td>{{project.status}}</td>
        <td>Total No. Of Tasks</td>
        <td>{{project.start_date}}</td>
        <td>{{project.end_date}}</td>
        <td>{{project.created_at}}</td>
        <td>{{project.updated_at}}</td>
        <td><span (click)="updateProject(project)">View  </span> / <span (click)="deleteProject(project.id, i)">Delete</span></td>
      </tr>
    </table>
  </div>

  <div [className]="showAddProjectForm ? 'gs-pro-form' : 'display-none'">
    <h1>Project Form Content Will Goes here</h1>
    <br>


    <div class="container">

      <form [formGroup]="projectForm">
        <div class="from_group">
          <label for="project"> Project</label><br>
          <input type="text" formControlName="project_name"
            class="form-control" >
        </div><br><br>

        <div class="from_group">
          <label for=" Owner"> Owner</label><br>
          <input type="text" formControlName="owner" class="form-control">
        </div><br><br>

        <div class="from_group">
          <label for="Status"> Status</label><br>
          <select formControlName="status" class="form-control">
            <option>Open</option>
            <option>In Progress</option>
            <option>Completed</option>
          </select>
        </div><br><br>

        <div class="from_group">
          <label for="startDate"> Start Date</label><br>
          <input type="date" formControlName="start_date" class="form-control">
        </div><br><br>

        <div class="from_group">
          <label for="endDate"> End Date</label><br>
          <input type="date" formControlName="end_date" class="form-control">
        </div><br><br>

        <div class="from_group">
          <label for="teamMember"> Team Member</label><br>
          <input type="text" formControlName="team_member" class="form-control">
        </div><br><br>

        <div class="from_group">
          <label for="description"> Description</label><br>
        </div>
        <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>

        <div class="gs-btn-right" *ngIf="this.isUpdateForm">
          <button (click)="updateProjectForm()">Update</button>
        </div>

        <div class="gs-btn-right" *ngIf="!this.isUpdateForm">
          <button (click)="createProject()">Submit</button>
        </div>

      </form>
    </div>


    <div class="gs-btn-right">
      <button (click)="showAddProjectForm= false">Cancel</button>
    </div>
  </div>
</div>
