
/* You can add global styles to this file, and also import other style files */

@import url("~ngx-toastr/toastr");
/* @import 'ngx-toastr/toastr-bs4-alert'; */

/* @import url("~ngx-spinner/animations/ball-scale-multiple.css"); */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
