<div class="auth">
  <div class="auth-form">
    <!-- <button (click)="testing()">Testing</button> -->
    <h3>Register Form</h3>
    <form [formGroup]="registerForm">
      <div class="form-input">
        <label for="email">Email</label>
        <input type="email" formControlName="email" id="email">
      </div>
      <div class="form-input">
        <label for="password">Password</label>
        <input type="password" formControlName="password" id="password">
      </div>

      <div class="form-input">
        <button class="gs-btn" (click)="register()" >Submit</button>
      </div>
      <div class="form-input">
        <p class="align-center">Already Registered
          <a routerLink="../login"> Login Now </a></p>
      
      </div>
    </form>
  </div>
</div>
